# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Python files
[*.py]
charset = utf-8
indent_style = space
indent_size = 4

# Override for all json, html, and yml/yaml below root
[*.{json,html,yml,yaml}]
indent_style = space
indent_size = 2
