// add custom typography classes here
// see quasar.dev/style/typography for the default classes
.text-h1 {
  @media (max-width: $breakpoint-sm-min) {
    font-size: 4.8rem;
  }
}
.text-h2 {
  @media (max-width: $breakpoint-sm-min) {
    font-size: 3rem;
  }
}
.text-h3 {
  @media (max-width: $breakpoint-sm-min) {
    font-size: 2.5rem;
  }
}
.text-h4 {
  @media (max-width: $breakpoint-sm-min) {
    font-size: 1.7rem;
  }
}
.text-body2 {
  @media (max-width: $breakpoint-sm-min) {
    line-height: inherit;
  }
}

.text-subcaption {
  font-size: .65rem;
  font-weight: 400;
  line-height: 1.2rem;
  letter-spacing: 0.03333em;
}